.yahoo-pipe-widget
{
    background: red;
    width: 100px;
    height: 100px;
}

.yahoo-pipe-widget__desc
{
    display: none;
}

.yahoo-pipe-widget__item_opened_true
.yahoo-pipe-widget__desc {
    display: block;
}
